$primaryColor: #00a08b;
$mobileWidth: 450px;
$desktopWidth: 1150px;
.isha-products {
	max-width: 100% !important;
	padding: 10px 0;
	list-style: none;
	display: grid;
	grid-template-columns: repeat(5, 1fr);
	@media (max-width: $mobileWidth) {
		grid-template-columns: repeat(2, 1fr);
	}
	.isha-product {
		$maxHeight: 180px;
		margin: 3px;
		border: 1px solid #ddd;
		background-color: #fff;
		&:hover {
			border-color: $primaryColor;
		}
		&-head {
			img {
				display: block;
				margin: 0 auto;
				@media (max-width: $mobileWidth) {
					max-height: $maxHeight;
				}
			}
		}
		&-body {
			padding: 10px;
			.isha-product-category {
				margin-bottom: 3px;
				a {
					font-size: 10px;
					letter-spacing: 1px;
					text-transform: uppercase;
					color: #777;
					text-decoration: none;
				}
			}
			.isha-product-title {
				a {
					color: #000;
					line-height: 18px;
					height: 36px;
					display: -webkit-box;
					-webkit-box-orient: vertical;
					overflow: hidden;
					-webkit-line-clamp: 2;
					font-size: 14px;
				}
			}
			.isha-product-price {
				margin-top: 10px;
				.isha-product-gen-price {
					color: #474747;
					font-size: 90%;
					font-weight: 600;
				}
				.isha-product-reg-price {
					color: #555;
					font-size: 90%;
				}
				.isha-product-sale-price {
					color: #026402;
					font-weight: 600;
					display: inline-block;
					padding-right: 5px;
				}
				.isha-product-percentage {
					color: #fff;
					background-color: #f44;
					padding: 0 3px;
					font-size: 90%;
					font-weight: 600;
				}
			}
		}
	}
	&.isha-featured-products {
		.isha-product-head {
			position: relative;
			&::after {
				content: "featured";
				position: absolute;
				left: 0;
				bottom: 0;
				background-color: gold;
				padding: 0 4px;
				text-transform: uppercase;
				font-size: 10px;
				color: #000;
				letter-spacing: 1px;
				font-weight: 600;
			}
		}
	}
}
.isha-cats {
	max-width: 100% !important;
	padding: 0;
	margin: 0;
	list-style: none;
	display: grid;
	grid-template-columns: repeat(8, 1fr);
	@media (max-width: $mobileWidth) {
		grid-template-columns: repeat(3, 1fr);
	}
	& > .isha-cat {
		a {
			text-decoration: none;
			color: #5a5a5a;
		}
		border: 1px solid #ddd;
		@media (min-width: $desktopWidth) {
			&:not(:nth-child(8n)) {
				border-right: none;
			}
		}
		@media (max-width: $mobileWidth) {
			&:not(:nth-child(3n)) {
				border-right: none;
			}
		}
		background-color: #fff;
		text-align: center;
		padding: 10px;
		.isha-cat-head {
			margin-bottom: 7px;
			.isha_cat_image {
				display: block;
				margin: 0 auto;
				width: 70px;
			}
		}
		&:hover {
			a {
				color: $primaryColor !important;
			}
		}
	}
}
.isha_cats_on_prod_wrapper {
	.isha_cats_list {
		max-width: 100% !important;
		padding: 0;
		margin: 10px 0;
		list-style: none;
		& > li {
			display: inline;
			margin-right: 10px;
			cursor: pointer;
			span {
				padding: 10px 20px;
				background-color: #eee;
				border: 1px solid #eee;
				border-radius: 20px;
				display: inline-block;
				margin: 10px 0;
			}
			&.isha-active {
				span {
					border-radius: 20px;
					background-color: $primaryColor;
					color: #fff;
				}
			}
		}
	}
	.isha-loading {
		min-height: 332px;
	}
}
