.isha-products {
	max-width: 100%;
	padding: 10px 0;
	list-style: none;
	display: grid;
	grid-template-columns: repeat(5, 1fr);
	.isha-product {
		margin: 3px;
		border: 1px solid #ddd;
		&-body {
			padding: 10px;
			.isha-product-category {
				margin-bottom: 3px;
				a {
					font-size: 10px;
					letter-spacing: 1px;
					text-transform: uppercase;
					background: #aaa;
					color: #fff;
					padding: 0 2px;
					text-decoration: none;
				}
			}
			.isha-product-title {
				a {
					color: #000;
					line-height: 18px;
					height: 36px;
					display: -webkit-box;
					-webkit-box-orient: vertical;
					overflow: hidden;
					-webkit-line-clamp: 2;
					font-size: 14px;
				}
			}
			.isha-product-price {
				margin-top: 10px;
				.isha-product-gen-price {
					color: #474747;
					font-size: 90%;
					font-weight: 600;
				}
				.isha-product-reg-price {
					color: #555;
					font-size: 90%;
				}
				.isha-product-sale-price {
					color: #026402;
					font-weight: 600;
					display: inline-block;
					padding-right: 5px;
				}
				.isha-product-percentage {
					color: #fff;
					background-color: #f44;
					padding: 0 3px;
					font-size: 90%;
					font-weight: 600;
				}
			}
		}
	}
	&.isha-featured-products {
		.isha-product-head {
			position: relative;
			&::after {
				content: "featured";
				position: absolute;
				left: 0;
				bottom: 0;
				background-color: gold;
				padding: 0 4px;
				text-transform: uppercase;
				font-size: 10px;
				color: #000;
				letter-spacing: 1px;
				font-weight: 600;
			}
		}
	}
}
